@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Raleway-Medium'),
       url("../../fonts/Raleway-Medium.woff2") format("woff2"),
       url("../../fonts/Raleway-Medium.woff") format("woff");
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Raleway-Bold'),
       url("../../fonts/Raleway-Bold.woff2") format("woff2"),
       url("../../fonts/Raleway-Bold.woff") format("woff");
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Raleway-SemiBold'),
       url("../../fonts/Raleway-SemiBold.woff2") format("woff2"),
       url("../../fonts/Raleway-SemiBold.woff") format("woff");
}

@font-face {
  font-family: 'RobotoCondensed';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('RobotoCondensed-Bold'),
       url("../../fonts/RobotoCondensed-Bold.woff2") format("woff2"),
       url("../../fonts/RobotoCondensed-Bold.woff") format("woff");
}

@font-face {
  font-family: 'RobotoCondensed';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('RobotoCondensed-Regular'),
       url("../../fonts/RobotoCondensed-Regular.woff2") format("woff2"),
       url("../../fonts/RobotoCondensed-Regular.woff") format("woff");
}