@font-face {
  font-family: 'Sarala';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Sarala-Regular'),
       url("../../fonts/Sarala-Regular.woff2") format("woff2"),
       url("../../fonts/Sarala-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Righteous';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Righteous-Regular'),
       url("../../fonts/Righteous-Regular.woff2") format("woff2"),
       url("../../fonts/Righteous-Regular.woff") format("woff");
}
