@font-face {
  font-family: 'Shanti';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Shanti-Regular'),
       url("../../fonts/Shanti-Regular.woff2") format("woff2"),
       url("../../fonts/Shanti-Regular.woff") format("woff");
}

@font-face {
  font-family: 'RussoOne';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('RussoOne-Regular'),
       url("../../fonts/RussoOne-Regular.woff2") format("woff2"),
       url("../../fonts/RussoOne-Regular.woff") format("woff");
}