:root {
  --hover: #7B68EE;
  --active: #4169E1;
}

.container {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;

  @media (max-width: 991px) {
    padding: 0 15px;
  }

  @media (max-width: 600px) {
    padding: 0 10px;
  }
}

.page {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  overflow: hidden;
  background-color: #20002c;
}

main {
  flex: 1 1 auto;

  &:not(:last-child) {
    margin-bottom: 90px;

    @media (max-width: 991px) {
      margin-bottom: 70px;
    }

    @media (max-width: 600px) {
      margin-bottom: 50px;
    }
  }
}

.logo {
  display: block;
  width: 80px;
  height: 80px;
  flex-shrink: 0;
  border-radius: 8px;
  overflow: hidden;
  @media (max-width: 991px) {
    width: 65px;
    height: 65px;
  }

  @media (max-width: 600px) {
    width: 55px;
    height: 55px;
  }

  &_menu {
    display: none;
    margin-right: auto;
    margin-bottom: 100px;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      display: block;
    }

    @media (max-width: 600px) {}
  }

  & img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
}