.container {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;

  @media (max-width: 991px) {
    padding: 0 15px;
  }

  @media (max-width: 600px) {
    padding: 0 10px;
  }
}

body {
  background-color: #fff;
}

.page {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  overflow: hidden;
  // background-image: url(../../img/back.jpg);
  // background-position: center;
  // background-size: cover;
}

main {
  flex: 1 1 auto;

  &:not(:last-child) {
    margin-bottom: 80px;

    @media (max-width: 991px) {
      margin-bottom: 60px;
    }

    @media (max-width: 600px) {
      margin-bottom: 40px;
    }
  }
}

.webp .page {
  background-image: url(../../img/back.jpg);
}

.no-webp .page {
  background-image: url(../../img/back.webp);
}