$maxWidth: 1920; // обязательно для адаптивного шрифта и адаптивного свойства
$maxWidthContainer: 1440; // обязательно для адаптивного шрифта и адаптивного свойства

// Адаптивное свойство

@mixin adaptive ($property, $startSize, $minSize, $type) {
  $addSize: $startSize - $minSize;

  @if $type==1 {
    // Только если меньше контейнера
    #{$property}: $startSize + px;

    @media (max-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
    }
  }

  @else if $type==2 {
    // Только если больше контейнера 
    #{$property}: $startSize + px;

    @media (min-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
    }
  }

  @else {
    // Всегда
    #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
  }
}

// ===================================================================================================================================================

// Адаптивный шрифт

@mixin adaptiv-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $addMobSize: $addSize + $addSize * 0.7;

  @media (max-width: 767px) {
    font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
  }

  @media (min-width: 767px) {
    font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
  }
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  padding: 20px 0;
  background: linear-gradient(180deg, #101010 -46.09%, rgba(16, 16, 16, 0) 100%);

  &__menu {
    @media (max-width: 991px) {
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: #373737;
      z-index: 100;
      @include adaptive ("padding", 30, 15, 0);
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      overflow: auto;
      transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    }
  }

  &__exit-menu {
    display: none;
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: transparent;

    @media (max-width: 991px) {
      display: block;
      @include adaptive ("top", 30, 15, 0);
      @include adaptive ("right", 30, 15, 0);
    }

    &::before {
      content: "";
      position: absolute;
      top: 12px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #FFFFFF;
      transform: rotate(45deg);
    }

    &::after {
      content: "";
      position: absolute;
      top: 12px;
      right: 0;
      width: 100%;
      height: 2px;
      background-color: #FFFFFF;
      transform: rotate(-45deg);
    }
  }
}

.nav {

  @media (max-width: 991px) {
    padding-top: 150px;
  }

  @media (max-width: 600px) {
    padding-top: 100px;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px 27px;

    @media (max-width: 991px) {
      flex-direction: column;
      row-gap: 50px;
    }
  }

  &__item {}

  &__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    transition: color .3s linear;

    @media (max-width: 991px) {
      font-size: 20px;
      line-height: 26px;
    }

    @media (max-width: 600px) {
      font-size: 24px;
      line-height: 28px;
    }

    @media (any-hover: hover) {
      &:hover {
        color: var(--hover);
      }
    }

    &:active {
      color: var(--active);
      transition-duration: .1s;
    }
  }
}

.burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 52px;
  height: 25px;
  background-color: transparent;
  margin-left: auto;

  @media (max-width: 991px) {
    display: flex;
  }

  @media (max-width: 600px) {
    width: 42px;
  }

  & span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    margin-bottom: 5px;

    &:first-child {
      margin-bottom: 5px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.menu-active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
}

// ======================================================================================================================================================

.hero {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.44);
  }

  &:not(:last-child) {
    margin-bottom: 109px;

    @media (max-width: 991px) {
      margin-bottom: 80px;
    }

    @media (max-width: 600px) {
      margin-bottom: 88px;
    }
  }

  &__content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0 24px 0;
    min-height: 832px;

    @media (max-width: 991px) {}

    @media (max-width: 600px) {}
  }

  &__descr {
    max-width: 633px;
    margin-top: auto;
  }

  &__title {
    font-family: 'Sansita';
    font-style: italic;
    font-weight: 800;
    font-size: 68px;
    line-height: 75px;
    text-align: center;
    color: #FFFFFF;

    @media (max-width: 600px) {
      font-size: 44px;
      line-height: 48px;
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;

    @media (max-width: 600px) {
      font-size: 16px;
      line-height: 22px;
    }
  }

  &__garp {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    width: 64px;
    height: 64px;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    transition: border-color .3s linear;

    @media (any-hover: hover) {
      &:hover {
        border-color: var(--hover);
      }
    }

    &:active {
      border-color: var(--active);
      transition-duration: .1s;
    }

    & img {
      display: block;
      width: 8px;
      height: 18px;
      object-fit: contain;
      object-position: center;
      animation-name: arrow-hero;
      animation-timing-function: linear;
      animation-duration: 2s;
      animation-iteration-count: infinite;
    }
  }
}

// ======================================================================================================================================================

.about {
  &:not(:last-child) {
    margin-bottom: 80px;
  }

  &__title {
    max-width: 500px;
  }

  &__content {
    display: flex;
    gap: 32px;

    @media (max-width: 1200px) {
      gap: 16px;
      flex-direction: column;
    }
  }

  &__left {
    display: flex;
    gap: 32px;
    flex: 0 1 864px;

    @media (max-width: 1200px) {
      flex: none;
      width: 100%;
      gap: 24px;
    }

    @media (max-width: 600px) {
      gap: 8px;
      flex-direction: column;
    }
  }

  &__image {
    border-radius: 10px;
    overflow: hidden;

    &_1 {
      flex: 0 1 528px;
      height: 480px;

      @media (max-width: 991px) {
        flex: 0 1 528px;
        height: 376px;
      }

      @media (max-width: 600px) {
        flex: none;
        width: 100%;
        height: 312px;
      }
    }

    &_2 {
      width: 100%;
      height: 232px;

      @media (max-width: 991px) {
        height: 180px;
      }

      @media (max-width: 600px) {
        height: 128px;
      }
    }

    &_3 {
      width: 100%;
      height: 232px;

      @media (max-width: 991px) {
        height: 180px;
      }

      @media (max-width: 600px) {
        height: 128px;
      }
    }

    &:not(:last-child) {
      margin-bottom: 16px;

      @media (max-width: 991px) {
        margin-bottom: 12px;
      }

      @media (max-width: 600px) {
        margin-bottom: 0;
      }
    }

    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__images {
    flex: 0 1 304px;

    @media (max-width: 991px) {
      flex: 0 1 240px;
    }

    @media (max-width: 600px) {
      flex: none;
      width: 100%;
      display: grid;
      grid-template: auto / repeat(2, 1fr);
      gap: 16px;
    }
  }

  &__descr {
    flex: 0 1 416px;

    @media (max-width: 1200px) {
      flex: none;
      width: 100%;
    }
  }

  &__text {
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
}

// ======================================================================================================================================================

.clock {
  &:not(:last-child) {
    margin-bottom: 80px;
  }

  &__list {}

  &__item {
    &:not(:last-child) {
      margin-bottom: 80px;
    }

    &:nth-child(even) {
      & .clock__content {
        flex-direction: row-reverse;

        @media (max-width: 991px) {
          flex-direction: column;
        }
      }

      & .clock__title {
        margin-left: auto;
        text-align: right;

        @media (max-width: 600px) {
          text-align: left;
          margin-left: 0;
        }
      }
    }
  }

  &__title {
    max-width: 520px;
  }

  &__content {
    display: flex;
    gap: 32px;

    @media (max-width: 991px) {
      flex-direction: column;
      gap: 16px;
    }
  }

  &__image {
    flex: 0 1 752px;
    height: 296px;
    border-radius: 10px;
    overflow: hidden;

    @media (max-width: 991px) {
      height: 272px;
      flex: none;
      width: 100%;
    }

    @media (max-width: 600px) {
      height: 136px;
    }

    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__descr {
    flex: 0 1 520px;

    @media (max-width: 991px) {
      flex: none;
      width: 100%;
    }
  }

  &__text {
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
}

// ======================================================================================================================================================

.footer {
  background-color: #DBD7D7;
  padding: 40px 0 48px 0;

  @media (max-width: 991px) {
    padding: 40px 0;
  }

  &__container {
    display: flex;
    gap: 20px;
    justify-content: space-between;

    @media (max-width: 991px) {
      gap: 32px;
      flex-direction: column;
      justify-content: flex-start;
    }

    @media (max-width: 600px) {
      gap: 56px;
    }
  }

  &__left {
    flex: 0 1 528px;

    @media (max-width: 991px) {
      flex: none;
      width: 100%;
    }
  }

  &__title {
    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #000000;

    @media (max-width: 600px) {
      font-size: 16px;
      line-height: 22px;
    }

    &:not(:last-child) {
      margin-bottom: 32px;

      @media (max-width: 991px) {
        margin-bottom: 16px;
      }
    }
  }

  &__form {
    width: 415px;
    display: block;

    @media (max-width: 600px) {
      width: 100%;
    }
  }

  &__right {
    flex: 0 1 528px;

    @media (max-width: 991px) {
      flex: none;
      width: 100%;
      max-width: 504px;
      margin: 0 auto;
    }
  }

  &__image {
    width: 100%;
    height: 326px;
    border-radius: 10px;
    overflow: hidden;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      height: 312px;
    }

    @media (max-width: 600px) {
      height: 208px;
    }

    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    &:not(:last-child) {
      margin-bottom: 42px;

      @media (max-width: 991px) {
        margin-bottom: 16px;
      }
    }
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px 35px;

    @media (max-width: 991px) {
      gap: 15px 30px;
    }

    @media (max-width: 600px) {
      gap: 10px 25px;
    }
  }

  &__item {}

  &__link {
    font-family: 'Shanti';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #232323;
    transition: color .3s linear;

    @media (any-hover: hover) {
      &:hover {
        color: var(--hover);
      }
    }

    &:active {
      color: var(--active);
      transition-duration: .1s;
    }
  }
}

.form {

  &__top {
    display: grid;
    grid-template: auto / repeat(2, 1fr);
    gap: 16px;

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__label {}

  &__input {
    height: 40px;
    border: 1px solid #FFFFFF;
    border-radius: 34px;
    display: block;
    width: 100%;
    padding: 0 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #000000;
    background-color: transparent;
    transition: border-color .3s linear;

    &::placeholder {
      font-weight: 400;
      font-size: 16px;
      line-height: 16px;
      color: #000000;
      opacity: 0.3;
    }

    @media (any-hover: hover) {
      &:hover {
        border-color: var(--hover);
      }
    }

    &:focus-visible {
      border-color: var(--active);
      transition-duration: .1s;
    }
  }

  &__textarea {
    width: 100%;
    border: 1px solid #FFFFFF;
    border-radius: 34px;
    display: block;
    width: 100%;
    padding: 0 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #000000;
    height: 152px;
    resize: none;
    padding: 16px;
    background-color: transparent;
    transition: border-color .3s linear;

    &::placeholder {
      font-weight: 400;
      font-size: 16px;
      line-height: 16px;
      color: #000000;
      opacity: 0.3;
    }

    @media (any-hover: hover) {
      &:hover {
        border-color: var(--hover);
      }
    }

    &:focus-visible {
      border-color: var(--active);
      transition-duration: .1s;
    }

    &:not(:last-child) {
      margin-bottom: 16px;

      @media (max-width: 600px) {
        margin-bottom: 24px;
      }
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    min-width: 164px;
    min-height: 40px;
    background-color: #C11367;
    border-radius: 42px;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    transition: background-color .3s linear;

    @media (any-hover: hover) {
      &:hover {
        background-color: var(--hover);
      }
    }

    &:active {
      background-color: var(--active);
      transition-duration: .1s;
    }
  }
}


// ======================================================================================================================================================

.terms {
  padding-top: 150px;

  @media (max-width: 991px) {
    padding-top: 125px;
  }

  @media (max-width: 600px) {
    padding-top: 100px;
  }

  & h1 {
    font-family: 'Sansita';
    font-size: 40px;
    line-height: 1.2;
    color: #000;
    font-weight: 800;

    @media (max-width: 991px) {
      font-size: 30px;
    }

    @media (max-width: 600px) {
      font-size: 22px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 25px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & h2 {
    font-family: 'Sansita';
    font-size: 40px;
    line-height: 1.2;
    color: #000;
    font-weight: 800;

    @media (max-width: 991px) {
      font-size: 30px;
    }

    @media (max-width: 600px) {
      font-size: 22px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 25px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & p {
    font-size: 20px;
    line-height: 1.2;
    color: #000;
    font-weight: 400;

    @media (max-width: 991px) {
      font-size: 18px;
    }

    @media (max-width: 600px) {
      font-size: 16px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 25px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & ul {
    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 25px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & li {
    font-size: 20px;
    line-height: 1.2;
    color: #000;
    font-weight: 400;

    @media (max-width: 991px) {
      font-size: 18px;
    }

    @media (max-width: 600px) {
      font-size: 16px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 25px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }
}

// ======================================================================================================================================================


@keyframes arrow-hero {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(5px);
  }
}

.no-webp .hero {
  background-image: url(../../img/hero.jpg);
}

.webp .hero {
  background-image: url(../../img/hero.webp);
}