@font-face {
  font-family: 'Telex';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Telex-Regular'),
       url("../../fonts/Telex-Regular.woff2") format("woff2"),
       url("../../fonts/Telex-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Manrope-Regular'),
       url("../../fonts/Manrope-Regular.woff2") format("woff2"),
       url("../../fonts/Manrope-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Shrikhand';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Shrikhand-Regular'),
       url("../../fonts/Shrikhand-Regular.woff2") format("woff2"),
       url("../../fonts/Shrikhand-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Tahoma';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Tahoma-Regular'),
       url("../../fonts/Tahoma-Regular.woff2") format("woff2"),
       url("../../fonts/Tahoma-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Shanti';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Shanti-Regular'),
       url("../../fonts/Shanti-Regular.woff2") format("woff2"),
       url("../../fonts/Shanti-Regular.woff") format("woff");
}