$maxWidth: 1920; // обязательно для адаптивного шрифта и адаптивного свойства
$maxWidthContainer: 1440; // обязательно для адаптивного шрифта и адаптивного свойства

// Адаптивное свойство

@mixin adaptive ($property, $startSize, $minSize, $type) {
  $addSize: $startSize - $minSize;

  @if $type==1 {
    // Только если меньше контейнера
    #{$property}: $startSize + px;

    @media (max-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
    }
  }

  @else if $type==2 {
    // Только если больше контейнера 
    #{$property}: $startSize + px;

    @media (min-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
    }
  }

  @else {
    // Всегда
    #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
  }
}

// ===================================================================================================================================================

// Адаптивный шрифт

@mixin adaptiv-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $addMobSize: $addSize + $addSize * 0.7;

  @media (max-width: 767px) {
    font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
  }

  @media (min-width: 767px) {
    font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
  }
}

.header {
  padding: 8px 0;
  background-color: #2B2A2A;
  flex: 0 0 168px;

  @media (max-width: 991px) {
    padding: 15px 0;
    flex: none;
    width: 100%;
    background-color: transparent;
  }

  &__container {
    padding: 0;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      padding: 0 15px;
    }

    @media (max-width: 600px) {
      padding: 0 10px;
    }
  }

  &__menu {
    @media (max-width: 991px) {
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: #242424;
      z-index: 100;
      @include adaptive ("padding", 30, 15, 0);
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      overflow: auto;
      transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    }
  }

  &__exit-menu {
    display: none;
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: transparent;

    @media (max-width: 991px) {
      display: block;
      @include adaptive ("top", 30, 15, 0);
      @include adaptive ("right", 30, 15, 0);
    }

    &::before {
      content: "";
      position: absolute;
      top: 12px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #FFFFFF;
      transform: rotate(45deg);
    }

    &::after {
      content: "";
      position: absolute;
      top: 12px;
      right: 0;
      width: 100%;
      height: 2px;
      background-color: #FFFFFF;
      transform: rotate(-45deg);
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  &__icon {
    display: none;
    flex: 0 0 47px;
    height: 47px;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      display: block;
    }

    @media (max-width: 600px) {}

    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

}

.nav {

  &__list {
    display: flex;
    flex-direction: column;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      row-gap: 60px;
    }

    @media (max-width: 600px) {}
  }

  &__item {}

  &__link {
    display: block;
    width: 100%;
    padding: 10px 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    transition: color .3s linear;

    @media (max-width: 991px) {
      font-size: 18px;
      line-height: 23px;
    }

    @media (max-width: 600px) {
      font-size: 20px;
      line-height: 25px;
    }

    @media (any-hover: hover) {
      &:hover {
        color: var(--hover);
      }
    }

    &:active {
      color: var(--active);
      transition-duration: .1s;
    }
  }
}

.burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 52px;
  height: 25px;
  background-color: transparent;
  flex-shrink: 0;

  @media (max-width: 991px) {
    display: flex;
  }

  @media (max-width: 600px) {
    width: 42px;
  }

  & span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    margin-bottom: 5px;
    border-radius: 5px;

    &:first-child {
      margin-bottom: 5px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.menu-active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
}

// ======================================================================================================================================================

.top {
  padding: 15px 0;

  @media (max-width: 991px) {
    display: none;
  }

  &__container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__icon {
    display: block;
    flex: 0 0 47px;
    height: 47px;

    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
}

// ======================================================================================================================================================

.screen {

  &:not(:last-child) {
    margin-bottom: 88px;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 504px;
    padding: 30px 0;
    border-radius: 10px;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__descr {
    max-width: 602px;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      max-width: 504px;
    }

    @media (max-width: 600px) {}
  }

  &__title {
    & span {
      display: block;
      font-weight: 400;
      font-size: 20px;
      line-height: 26px;
      text-align: center;
      color: #FFFFFF;

      @media (max-width: 991px) {
        font-size: 16px;
        line-height: 21px;
      }

      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }

    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    color: #FFFFFF;

    @media (max-width: 991px) {
      font-size: 24px;
      line-height: 31px;
    }

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;

    & span {
      display: block;
    }

    &:not(:last-child) {
      margin-bottom: 32px;

      @media (max-width: 991px) {
        margin-bottom: 16px;
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    min-width: 169px;
    min-height: 41px;
    width: fit-content;
    background-color: #C14600;
    border-radius: 26px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto;
    transition: background-color .3s linear;

    @media (any-hover: hover) {
      &:hover {
        background-color: var(--hover);
      }
    }

    &:active {
      background-color: var(--active);
      transition-duration: .1s;
    }
  }
}

.webp .screen__content {
  background-image: url(../../img/hero.webp);
}

.no-webp .screen__content {
  background-image: url(../../img/hero.jpg);
}

// ======================================================================================================================================================

.siamo {
  &:not(:last-child) {
    margin-bottom: 87px;
  }

  &__top {
    &:not(:last-child) {
      margin-bottom: 16px;

      @media (max-width: 600px) {
        margin-bottom: 8px;
      }
    }
  }

  &__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 41px;
    color: #E45606;

    &:not(:last-child) {
      margin-bottom: 32px;

      @media (max-width: 600px) {
        margin-bottom: 24px;
      }
    }
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &_opacity {
      opacity: 0.5;
      max-width: 912px;
    }
  }

  &__bottom {
    display: grid;
    grid-template: auto / repeat(2, 1fr);
    gap: 24px;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      display: block;
    }

    @media (max-width: 600px) {}
  }

  &__images {
    @media (max-width: 991px) {
      max-width: 504px;
      margin: 0 auto;
    }

    @media (max-width: 991px) {
      max-width: 336px;
    }

    &:not(:last-child) {
      @media (max-width: 1439px) {}

      @media (max-width: 1220px) {}

      @media (max-width: 991px) {
        margin-bottom: 16px;
      }

      @media (max-width: 600px) {}
    }
  }

  &__image {
    height: 160px;
    overflow: hidden;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      height: 135px;
    }

    @media (max-width: 600px) {
      height: 90px;
    }

    border-radius: 10px;

    &:not(:last-child) {
      margin-bottom: 9px;

      @media (max-width: 991px) {
        margin-bottom: 8px;
      }

      @media (max-width: 600px) {
        margin-bottom: 5px;
      }
    }

    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__bottom-descr {}
}

// ======================================================================================================================================================

.vantag {
  &:not(:last-child) {
    margin-bottom: 88px;
  }

  &__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 41px;
    color: #E45606;

    &:not(:last-child) {
      margin-bottom: 32px;

      @media (max-width: 600px) {
        margin-bottom: 24px;
      }
    }
  }

  &__list {
    display: grid;
    grid-template: auto / repeat(auto-fill, minmax(300px, 1fr));
    gap: 24px;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      gap: 24px 20px;
    }

    @media (max-width: 600px) {
      grid-template-columns: 1fr;
      gap: 16px;
    }
  }

  &__item {}

  &__wrapper-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    background-color: #2A2A2A;
    border-radius: 10px;

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  &__icon {
    display: block;
    width: 48px;
    height: 48px;

    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  &__subtitle {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #F2F2F2;

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    opacity: 0.5;
  }
}

// ======================================================================================================================================================

.gry {
  &:not(:last-child) {
    margin-bottom: 88px;
  }

  &__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 41px;
    color: #E45606;

    &:not(:last-child) {
      margin-bottom: 32px;

      @media (max-width: 600px) {
        margin-bottom: 24px;
      }
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px 88px;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      gap: 24px;
    }

    @media (max-width: 600px) {
      gap: 16px;
    }
  }

  &__item {
    flex: 0 0 325px;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      flex: 0 0 328px;
    }

    @media (max-width: 600px) {
      flex: 0 1 344px;
    }
  }

  &__image {
    height: 176px;
    border-radius: 5px;
    overflow: hidden;

    @media (max-width: 600px) {
      height: 185px;
    }

    & a {
      display: block;
      width: 100%;
      height: 100%;

      & picture {
        & img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  &__descr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
  }

  &__link {
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
    transition: color .3s linear;

    @media (any-hover: hover) {
      &:hover {
        color: var(--hover);
      }
    }

    &:active {
      color: var(--active);
      transition-duration: .1s;
    }
  }

  &__play {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 95px;
    min-height: 32px;
    width: fit-content;
    background-color: #E45606;
    border-radius: 9px;
    flex-shrink: 0;
    transition: background-color .3s linear;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {}

    @media (max-width: 600px) {
      min-width: 104px;
      min-height: 31px;
    }

    & img {
      display: block;
      width: 27px;
      height: 27px;
      object-fit: contain;
      object-position: center;
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: var(--active);
      }
    }

    &:active {
      background-color: var(--active);
      transition-duration: .1s;
    }
  }
}

// ======================================================================================================================================================
.footer {
  padding: 0 0 47px 0;

  @media (max-width: 991px) {
    padding: 0 0 26px 0;
  }

  @media (max-width: 600px) {
    padding: 0 0 24px 0;
  }

  &__container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
  }

  &__left {
    flex: 0 1 592px;

    @media (max-width: 991px) {
      flex: none;
      width: 100%;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;

    & span {
      display: block;
    }
  }

  &__list {
    flex-shrink: 0;
    text-align: right;
    margin-left: auto;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 21px;

      @media (max-width: 991px) {
        margin-bottom: 16px;
      }
    }
  }

  &__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    transition: color .3s linear;

    @media (any-hover: hover) {
      &:hover {
        color: var(--hover);
      }
    }

    &:active {
      color: var(--active);
      transition-duration: .1s;
    }
  }
}

// ======================================================================================================================================================

.terms {
  padding-top: 80px;

  @media (max-width: 991px) {
    padding-top: 60px;
  }

  @media (max-width: 600px) {
    padding-top: 40px;
  }

  & h1 {
    font-size: 42px;
    line-height: 1.3;
    color: #E45606;
    font-weight: 700;

    @media (max-width: 991px) {
      font-size: 32px;
    }

    @media (max-width: 600px) {
      font-size: 22px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 25px;
      }

      @media (max-width: 600px) {
        margin-bottom: 20px;
      }
    }
  }

  & h2 {
    font-size: 42px;
    line-height: 1.3;
    color: #E45606;
    font-weight: 700;

    @media (max-width: 991px) {
      font-size: 32px;
    }

    @media (max-width: 600px) {
      font-size: 22px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 25px;
      }

      @media (max-width: 600px) {
        margin-bottom: 20px;
      }
    }
  }

  & p {
    font-size: 22px;
    line-height: 1.3;
    color: #fff;
    font-weight: 400;

    @media (max-width: 991px) {
      font-size: 20px;
    }

    @media (max-width: 600px) {
      font-size: 18px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 25px;
      }

      @media (max-width: 600px) {
        margin-bottom: 20px;
      }
    }
  }

  & ul {
    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 25px;
      }

      @media (max-width: 600px) {
        margin-bottom: 20px;
      }
    }
  }

  & li {
    font-size: 20px;
    line-height: 1.3;
    color: #fff;
    font-weight: 400;

    @media (max-width: 991px) {
      font-size: 18px;
    }

    @media (max-width: 600px) {
      font-size: 16px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 25px;
      }

      @media (max-width: 600px) {
        margin-bottom: 20px;
      }
    }
  }
}

// ======================================================================================================================================================

.slot {
  padding-top: 80px;

  @media (max-width: 991px) {
    padding-top: 60px;
  }

  @media (max-width: 600px) {
    padding-top: 40px;
  }

  &__title {
    font-size: 42px;
    line-height: 1.3;
    color: #E45606;
    font-weight: 700;

    @media (max-width: 991px) {
      font-size: 32px;
    }

    @media (max-width: 600px) {
      font-size: 22px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 25px;
      }

      @media (max-width: 600px) {
        margin-bottom: 20px;
      }
    }
  }

  &__game {
    position: relative;
    padding-bottom: 50%;

    @media (max-width: 600px) {
      padding-bottom: 70%;
    }

    & iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

// ======================================================================================================================================================

.popup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  opacity: 0;
  visibility: hidden;
  transition: opacity .2s ease-in-out, visibility .2s ease-in-out;
  height: 100vh;
}

.popup.popup-active {
  opacity: 1;
  visibility: visible;
}

.popup__close {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .9);
  z-index: 1;
}

.popup__body {
  position: relative;
  width: 540px;
  background-color: #ffffff;
  border-radius: 5px;
  z-index: 2;
  padding: 30px 20px;

  @media (max-width: 991px) {
    padding: 15px;
  }

  @media (max-width: 600px) {
    width: 95%;
    padding: 15px 10px;
  }
}

.popup__text {
  font-size: 20px;
  line-height: 1.3;
  color: #000;
  font-weight: 400;

  @media (max-width: 991px) {
    font-size: 18px;
  }

  @media (max-width: 600px) {
    font-size: 16px;
  }

  &:not(:last-child) {
    margin-bottom: 30px;

    @media (max-width: 991px) {
      margin-bottom: 25px;
    }

    @media (max-width: 600px) {
      margin-bottom: 20px;
    }
  }
}

.popup__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border-radius: 26px;
  background-color: #C14600;
  min-height: 60px;
  min-width: 200px;
  font-size: 18px;
  line-height: 18px;
  color: #fff;
  font-weight: 400;
  width: fit-content;
  margin: 0 auto;
  transition: background-color .3s linear;

  @media (max-width: 991px) {
    min-height: 50px;
    min-width: 160px;
    font-size: 16px;
    line-height: 16px;
  }

  @media (max-width: 600px) {
    min-height: 40px;
    min-width: 120px;
    font-size: 14px;
    line-height: 14px;
  }

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--hover);
    }
  }

  &:active {
    background-color: var(--active);
    transition-duration: .1s;
  }
}