$maxWidth: 1920; // обязательно для адаптивного шрифта и адаптивного свойства
$maxWidthContainer: 1440; // обязательно для адаптивного шрифта и адаптивного свойства

// Адаптивное свойство

@mixin adaptive ($property, $startSize, $minSize, $type) {
  $addSize: $startSize - $minSize;

  @if $type==1 {
    // Только если меньше контейнера
    #{$property}: $startSize + px;

    @media (max-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
    }
  }

  @else if $type==2 {
    // Только если больше контейнера 
    #{$property}: $startSize + px;

    @media (min-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
    }
  }

  @else {
    // Всегда
    #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
  }
}

// ===================================================================================================================================================

// Адаптивный шрифт

@mixin adaptiv-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $addMobSize: $addSize + $addSize * 0.7;

  @media (max-width: 767px) {
    font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
  }

  @media (min-width: 767px) {
    font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
  }
}

.header {
  padding: 20px 0;

  &:not(:last-child) {
    margin-bottom: 80px;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      margin-bottom: 60px;
    }

    @media (max-width: 600px) {
      margin-bottom: 40px;
    }
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  &__menu {
    @media (max-width: 991px) {
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: #373737;
      z-index: 100;
      @include adaptive ("padding", 30, 15, 0);
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      overflow: auto;
      transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    }
  }

  &__exit-menu {
    display: none;
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: transparent;

    @media (max-width: 991px) {
      display: block;
      @include adaptive ("top", 30, 15, 0);
      @include adaptive ("right", 30, 15, 0);
    }

    &::before {
      content: "";
      position: absolute;
      top: 12px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #FFFFFF;
      transform: rotate(45deg);
    }

    &::after {
      content: "";
      position: absolute;
      top: 12px;
      right: 0;
      width: 100%;
      height: 2px;
      background-color: #FFFFFF;
      transform: rotate(-45deg);
    }
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 30px;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      gap: 20px;
    }

    @media (max-width: 600px) {
      gap: 15px;
    }
  }

  &__icon {
    display: block;
    flex: 0 0 50px;
    height: 50px;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      flex: 0 0 40px;
      height: 40px;
    }

    @media (max-width: 600px) {
      flex: 0 0 30px;
      height: 30px;
    }

    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
}

.nav {

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px 50px;
    flex-wrap: wrap;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      flex-direction: column;
      row-gap: 50px;
    }

    @media (max-width: 600px) {}
  }

  &__item {}

  &__link {
    font-size: 20px;
    line-height: 1.3;
    color: #fff;
    font-weight: 400;
    transition: color .3s linear;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      font-size: 22px;
    }

    @media (max-width: 600px) {
      font-size: 24px;
    }

    @media (any-hover: hover) {
      &:hover {
        color: #5299eb;
      }
    }

    &:active {
      color: #5299eb;
      transition-duration: .1s;
    }
  }
}

.burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 52px;
  height: 25px;
  background-color: transparent;
  flex-wrap: 0;

  @media (max-width: 991px) {
    display: flex;
  }

  @media (max-width: 600px) {
    width: 42px;
  }

  & span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    margin-bottom: 5px;
    border-radius: 8px;

    &:first-child {
      margin-bottom: 5px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.menu-active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
}

// ======================================================================================================================================================

.hero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &:not(:last-child) {
    margin-bottom: 80px;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      margin-bottom: 60px;
    }

    @media (max-width: 600px) {
      margin-bottom: 40px;
    }
  }

  &__content {
    padding-top: 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 600px;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      min-height: 450px;
      padding: 60px 0;
    }

    @media (max-width: 600px) {
      min-height: 300px;
      padding: 40px 0;
    }
  }

  &__descr {
    text-align: center;
    max-width: 600px;
  }

  &__title {
    font-size: 42px;
    line-height: 1.3;
    color: #fff;
    font-weight: 700;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      font-size: 32px;
    }

    @media (max-width: 600px) {
      font-size: 26px;
    }

    &:not(:last-child) {
      margin-bottom: 50px;

      @media (max-width: 1439px) {}

      @media (max-width: 1220px) {}

      @media (max-width: 991px) {
        margin-bottom: 40px;
      }

      @media (max-width: 600px) {
        margin-bottom: 30px;
      }
    }
  }

  &__text {
    font-size: 22px;
    line-height: 1.3;
    color: #fff;
    font-weight: 400;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      font-size: 20px;
    }

    @media (max-width: 600px) {
      font-size: 18px;
    }

    &:not(:last-child) {
      margin-bottom: 50px;

      @media (max-width: 1439px) {}

      @media (max-width: 1220px) {}

      @media (max-width: 991px) {
        margin-bottom: 40px;
      }

      @media (max-width: 600px) {
        margin-bottom: 30px;
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    font-size: 20px;
    line-height: 20px;
    color: #fff;
    font-weight: 400;
    background-color: #351b5f;
    width: fit-content;
    min-height: 60px;
    min-width: 300px;
    transition: background-color .3s linear;
    margin: 0 auto;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      font-size: 18px;
      line-height: 18px;
      min-height: 50px;
      min-width: 200px;
    }

    @media (max-width: 600px) {
      font-size: 16px;
      line-height: 16px;
      min-height: 40px;
      min-width: 150px;
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: #5299eb;
      }
    }

    &:active {
      background-color: #5299eb;
      transition-duration: .1s;
    }
  }

  &__image {
    position: relative;
    padding-bottom: 60%;

    & img {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
}

.webp .hero {
  background-image: url(../../img/hero.webp);
}

.no-webp .hero {
  background-image: url(../../img/hero.jpg);
}

// ======================================================================================================================================================

.benefits {
  &:not(:last-child) {
    margin-bottom: 80px;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      margin-bottom: 60px;
    }

    @media (max-width: 600px) {
      margin-bottom: 40px;
    }
  }

  &__list {
    display: grid;
    grid-template: auto / repeat(auto-fill, minmax(400px, 1fr));
    gap: 30px;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      gap: 20px;
    }

    @media (max-width: 600px) {
      grid-template-columns: 1fr;
      gap: 15px;
    }
  }

  &__item {
    padding: 30px;
    border-radius: 8px;
    border: 1px solid #fff;
    text-align: center;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      padding: 20px;
    }

    @media (max-width: 600px) {
      padding: 15px;
    }
  }

  &__title {
    font-size: 32px;
    line-height: 1.3;
    color: #fff;
    font-weight: 600;
    min-height: 83px;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      font-size: 26px;
      min-height: 40px;
    }

    @media (max-width: 600px) {
      font-size: 20px;
      min-height: auto;
    }

    &:not(:last-child) {
      margin-bottom: 15px;

      @media (max-width: 1439px) {}

      @media (max-width: 1220px) {}

      @media (max-width: 991px) {}

      @media (max-width: 600px) {
        margin-bottom: 10px;
      }
    }
  }

  &__text {
    font-size: 20px;
    line-height: 1.3;
    color: #fff;
    font-weight: 400;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      font-size: 18px;
    }

    @media (max-width: 600px) {
      font-size: 16px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 1439px) {}

      @media (max-width: 1220px) {}

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }
}

// ======================================================================================================================================================

.games {
  &:not(:last-child) {
    margin-bottom: 80px;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      margin-bottom: 60px;
    }

    @media (max-width: 600px) {
      margin-bottom: 40px;
    }
  }

  &__list {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      gap: 20px;
    }

    @media (max-width: 600px) {
      gap: 15px;
    }
  }

  &__item {
    border-radius: 8px;
    padding: 15px;
    background-color: #351b5f;
    flex: 0 0 400px;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      flex: 0 0 340px;
    }

    @media (max-width: 600px) {
      padding: 10px;
      flex: 0 1 100%;
    }
  }

  &__image {
    height: 300px;
    border-radius: 8px;
    overflow: hidden;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      height: 250px;
    }

    @media (max-width: 600px) {
      height: 300px;
    }

    &:not(:last-child) {
      margin-bottom: 20px;

      @media (max-width: 1439px) {}

      @media (max-width: 1220px) {}

      @media (max-width: 991px) {
        margin-bottom: 15px;
      }

      @media (max-width: 600px) {
        margin-bottom: 10px;
      }
    }

    & a {
      display: block;
      width: 100%;
      height: 100%;

      & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  &__link {
    display: block;
    text-align: center;
    width: 100%;
    font-size: 20px;
    line-height: 1.2;
    color: #fff;
    font-weight: 400;
    transition: color .3s linear;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      font-size: 18px;
    }

    @media (max-width: 600px) {
      font-size: 16px;
    }

    @media (any-hover: hover) {
      &:hover {
        color: #5299eb;
      }
    }

    &:active {
      color: #5299eb;
      transition-duration: .1s;
    }
  }
}

// ======================================================================================================================================================

.about {
  &:not(:last-child) {
    margin-bottom: 80px;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      margin-bottom: 60px;
    }

    @media (max-width: 600px) {
      margin-bottom: 40px;
    }
  }

  &__title {
    font-size: 32px;
    line-height: 1.3;
    color: #fff;
    font-weight: 600;
    text-align: center;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      font-size: 26px;
    }

    @media (max-width: 600px) {
      font-size: 20px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 1439px) {}

      @media (max-width: 1220px) {}

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  &__content {
    display: grid;
    grid-template: auto / 1fr 500px;
    align-items: flex-start;
    gap: 30px;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      gap: 20px;
      grid-template-columns: 1fr;
    }

    @media (max-width: 600px) {
      gap: 10px;
    }
  }

  &__text {
    font-size: 20px;
    line-height: 1.3;
    color: #fff;
    font-weight: 400;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      font-size: 18px;
    }

    @media (max-width: 600px) {
      font-size: 16px;
    }

    &:not(:last-child) {
      margin-bottom: 20px;

      @media (max-width: 1439px) {}

      @media (max-width: 1220px) {}

      @media (max-width: 991px) {
        margin-bottom: 15px;
      }

      @media (max-width: 600px) {
        margin-bottom: 10px;
      }
    }
  }

  &__image {
    position: relative;
    padding-bottom: 100%;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      max-width: 500px;
      width: 100%;
      margin: 0 auto;
      padding-bottom: 50%;
    }

    @media (max-width: 600px) {
      padding-bottom: 70%;
    }

    & img {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
}

// ======================================================================================================================================================

.footer {
  padding: 20px 0;

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px 50px;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      gap: 15px 40px;
    }

    @media (max-width: 600px) {
      gap: 10px 30px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 1439px) {}

      @media (max-width: 1220px) {}

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  &__item {}

  &__link {
    font-size: 20px;
    line-height: 1.3;
    color: #fff;
    font-weight: 400;
    transition: color .3s linear;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      font-size: 18px;
    }

    @media (max-width: 600px) {
      font-size: 16px;
    }

    @media (any-hover: hover) {
      &:hover {
        color: #5299eb;
      }
    }

    &:active {
      color: #5299eb;
      transition-duration: .1s;
    }
  }
}

// ======================================================================================================================================================

.slot {
  &:not(:last-child) {
    margin-bottom: 80px;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      margin-bottom: 60px;
    }

    @media (max-width: 600px) {
      margin-bottom: 40px;
    }
  }

  &__title {
    font-size: 32px;
    line-height: 1.3;
    color: #fff;
    font-weight: 600;
    text-align: center;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      font-size: 26px;
    }

    @media (max-width: 600px) {
      font-size: 20px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 1439px) {}

      @media (max-width: 1220px) {}

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  &__game {
    position: relative;
    padding-bottom: 50%;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {}

    @media (max-width: 600px) {
      padding-bottom: 100%;
    }

    & iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

// ======================================================================================================================================================

.terms {
  & h1 {
    font-size: 42px;
    line-height: 1.2;
    color: #fff;
    font-weight: 700;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      font-size: 32px;
    }

    @media (max-width: 600px) {
      font-size: 22px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 1439px) {}

      @media (max-width: 1220px) {}

      @media (max-width: 991px) {
        margin-bottom: 25px;
      }

      @media (max-width: 600px) {
        margin-bottom: 20px;
      }
    }
  }

  & h2 {
    font-size: 42px;
    line-height: 1.2;
    color: #fff;
    font-weight: 700;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      font-size: 32px;
    }

    @media (max-width: 600px) {
      font-size: 22px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 1439px) {}

      @media (max-width: 1220px) {}

      @media (max-width: 991px) {
        margin-bottom: 25px;
      }

      @media (max-width: 600px) {
        margin-bottom: 20px;
      }
    }
  }

  & p {
    font-size: 22px;
    line-height: 1.2;
    color: #fff;
    font-weight: 400;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      font-size: 20px;
    }

    @media (max-width: 600px) {
      font-size: 18px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 1439px) {}

      @media (max-width: 1220px) {}

      @media (max-width: 991px) {
        margin-bottom: 25px;
      }

      @media (max-width: 600px) {
        margin-bottom: 20px;
      }
    }
  }

  & ul {
    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 1439px) {}

      @media (max-width: 1220px) {}

      @media (max-width: 991px) {
        margin-bottom: 25px;
      }

      @media (max-width: 600px) {
        margin-bottom: 20px;
      }
    }
  }

  & li {
    font-size: 20px;
    line-height: 1.2;
    color: #fff;
    font-weight: 400;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      font-size: 18px;
    }

    @media (max-width: 600px) {
      font-size: 16px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 1439px) {}

      @media (max-width: 1220px) {}

      @media (max-width: 991px) {
        margin-bottom: 25px;
      }

      @media (max-width: 600px) {
        margin-bottom: 20px;
      }
    }
  }
}

// ======================================================================================================================================================

.popup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  height: 100vh;
}

.popup__close {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .9);
  z-index: 1;
}

.popup__body {
  position: relative;
  width: 540px;
  background-color: #351b5f;
  border-radius: 5px;
  z-index: 2;
  padding: 15px;

  @media (max-width: 600px) {
    width: 95%;
    padding: 15px 10px;
  }
}

.popup__form {
  width: 100%;
}

.popup__form input {
  position: absolute;
  top: 0;
  left: -5000px;
}

.popup__text {
  font-size: 20px;
  line-height: 1.2;
  color: #fff;
  font-weight: 400;

  @media (max-width: 1439px) {}

  @media (max-width: 1220px) {}

  @media (max-width: 991px) {
    font-size: 18px;
  }

  @media (max-width: 600px) {
    font-size: 16px;
  }

  &:not(:last-child) {
    margin-bottom: 30px;

    @media (max-width: 1439px) {}

    @media (max-width: 1220px) {}

    @media (max-width: 991px) {
      margin-bottom: 25px;
    }

    @media (max-width: 600px) {
      margin-bottom: 20px;
    }
  }
}

.popup__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  width: fit-content;
  font-size: 20px;
  line-height: 1.2;
  color: #fff;
  font-weight: 400;
  transition: color .3s linear;
  background-color: #0a5855;
  min-width: 150px;
  min-height: 40px;

  @media (max-width: 1439px) {}

  @media (max-width: 1220px) {}

  @media (max-width: 991px) {
    font-size: 18px;
  }

  @media (max-width: 600px) {
    font-size: 16px;
  }

  @media (any-hover: hover) {
    &:hover {
      color: #5299eb;
    }
  }

  &:active {
    color: #5299eb;
    transition-duration: .1s;
  }

}