@font-face {
  font-family: 'Graphik';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Graphik-Regular'),
    url("../../fonts/Graphik-Regular.woff2") format("woff2")
}

@font-face {
  font-family: 'Graphik';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Graphik-Medium'),
    url("../../fonts/Graphik-Medium.woff2") format("woff2")
}

@font-face {
  font-family: 'Leelawadee';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Leelawadee-Regular'),
    url("../../fonts/Leelawadee-Regular.woff2") format("woff2")
}

@font-face {
  font-family: 'ProstoOne';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('ProstoOne-Regular'),
    url("../../fonts/ProstoOne-Regular.woff2") format("woff2")
}